body{
    padding: 10px;
    margin: 0;
}

.imageFrame {
  /* overflow-y: hidden; */
  overflow: hidden;
  position: relative;
  width: 800px;

  .imageStrip {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .imageContainer {
      a {
        img {
          width: 800px;
          height: 600px;
        }
      }
    }
  }

  .navigationButtonContainer {
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 5px;

    .navigationButton {
      background-color: gray;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }

  .leftArrowButton,
  .rightArrowButton {
    cursor: pointer;
  }

  .leftArrowButton {
    position: absolute;
    left: 10px;
    top: 45%;
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-right: 40px solid black;
  }

  .rightArrowButton {
    position: absolute;
    right: 10px;
    top: 45%;
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid black;
  }
}
